name = "errl-portal-forum-docs"
compatibility_date = "2024-09-23"
main = ".open-next/worker.js"

[vars]
IMAGE_UPLOAD_ALLOWLIST = "*"

compatibility_flags = [
  "nodejs_compat",
  "global_fetch_strictly_public"
]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[env.preview]
compatibility_flags = [
  "nodejs_compat",
  "global_fetch_strictly_public"
]
vars = { IMAGE_UPLOAD_ALLOWLIST = "*" }
