name = "errl-portal-forum-docs"
compatibility_date = "2024-09-23"
compatibility_flags = [
  "nodejs_compat",
  "global_fetch_strictly_public"
]
main = ".open-next/worker.js"

[vars]
IMAGE_UPLOAD_ALLOWLIST = "*"

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[[d1_databases]]
binding = "DB"
database_name = "errl_forum_db"
database_id = "f6acc52e-a23b-4a6c-8b62-c93892e41940"

[env.preview]
compatibility_flags = [
  "nodejs_compat",
  "global_fetch_strictly_public"
]
vars = { IMAGE_UPLOAD_ALLOWLIST = "*" }
