body {
  padding: 16px;
}

@media (max-width: 640px) {
  body {
    padding: 8px;
  }
}

.profile-card.neon-outline-card::after {
  inset: -1px !important;
}

.profile-tabs-wrapper {
  margin-top: 8px;
}

@media (max-width: 640px) {
  .profile-tabs-wrapper {
    margin-top: 8px;
  }
}

@media (max-width: 480px) {
  .profile-tabs-wrapper {
    margin-top: 8px;
  }
}

@media (max-width: 600px) {
  .account-edit-card--tabs-bottom .account-edit-tab-content--above {
    min-height: 0 !important;
  }
}
